.container-1 {
    border: solid black 1px;
    text-align: center;
    margin:0 auto;
    width: 75%;
    margin-top: 20px;
}


.flex-box-container-1 {
    display: flex;
    border: black 1px solid;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.flex-box-container-1 div {
    padding: 10px;
    border: solid black 1px;
    align-items: center;
}
.container-2 , .container-3 , .container-4 , .container-5{
    border: solid black 1px;
    text-align: center;
    margin:0 auto;
    width: 75%;
    margin-top: 20px;
}


.flex-box-container-2 , .flex-box-rps , .flex-box-pick-color ,
.flex-blackjack-row-1 , .flex-blackjack-row-2 , .flex-blackjack-row-3{
    display: flex;
    border: black 1px solid;
    padding: 20px;
    /* margin: 10px; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.flex-blackjack-row-1 ,.flex-blackjack-row-2{
    background: url('/static/images/table-back.png')center;
    color: #ffffff;
}
.flex-blackjack-row-2 button {
    border: black 1px solid;
    padding: 10px;
}
.flex-blackjack-row-2 div {
    border: black 1px solid;
    padding: 10px;
}
.table ,th ,td {
    border: black 1px solid;
    padding: 5px;
}

.flex-blackjack-row-1 div{
    
    border: solid black 1px;
    text-align: center;
    padding:10px;
    height:350px ;
    flex: 1;
}
.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}
.container-2 div {
    padding: 10px;
    align-items: center;
}

.flex-box-rps img:hover {
    box-shadow: 0px 10px 20px rgba(30,144, 255,1);
}